# Preloaded start
system config hostname CE_1
fds fd CE_1-PE_1-FD mode vpls
oc-if:interfaces interface lb1 config name lb1 type loopback
oc-if:interfaces interface lb1 ipv4 addresses address 10.1.1.1 config ip 10.1.1.1 prefix-length 32
oc-if:interfaces interface CE_1-PE_1-if config admin-status true mtu 1500 name CE_1-PE_1-if type ip
oc-if:interfaces interface CE_1-PE_1-if config underlay-binding config fd CE_1-PE_1-FD
oc-if:interfaces interface CE_1-PE_1-if ipv4 addresses address 172.16.103.2 config ip 172.16.103.2 prefix-length 30
classifiers classifier CLASSIFIER-UNTAGGED filter-entry vtag-stack untagged-exclude-priority-tagged false
fps fp CE_1-PE_1-FP fd-name CE_1-PE_1-FD logical-port 1 stats-collection on classifier-list CLASSIFIER-UNTAGGED
rib vrf default ipv4 172.16.103.32/30 next-hop 172.16.103.1
      exit
    exit
  exit
exit
# Preloaded end
