# Preloaded start
system config hostname CE_3
# Preloaded end
# Task 5 start
fds fd CE_3-PE_3-FD mode vpls
oc-if:interfaces interface CE_3-PE_3-if config mtu 1500 name CE_3-PE_3-if type ip
oc-if:interfaces interface CE_3-PE_3-if config underlay-binding config fd CE_3-PE_3-FD
oc-if:interfaces interface CE_3-PE_3-if ipv4 addresses address 172.16.106.3 config ip 172.16.106.3 prefix-length 24
classifiers classifier CLASSIFIER-106 filter-entry vtag-stack vtags 1 vlan-id 106
fps fp CE_3-PE_3-FP fd-name CE_3-PE_3-FD logical-port 1 stats-collection on classifier-list CLASSIFIER-106
fps fp CE_3-PE_3-FP egress-l2-transform push-vid-106 vlan-stack 1 push-tpid tpid-8100 push-vid 106
# Task 5 end
